@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-bg: rgb(16 16 19 / 1);
}

@theme inline {
  --color-background: var(--main-bg);
  --color-foreground: var(--main-bg);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: rgb(16 16 19 / 1);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
